
 header{
    display: flex;
    position:-webkit-sticky;
    position: sticky;
    top: 0%;
    background-color: white;
    border: 1px solid white;
    align-items: center;
    justify-content: space-between;
}
.header img{
    
    margin: 5px;
    padding: 4px;
}
.header2{
    display: flex;
    
}
.header2 a{
    padding: 9px;
    text-decoration: none;
    font-size: large;
    color: black;
    
}
.header2 a:hover{
    color: blue;
}
button:hover{
    background-color:rgb(0, 144, 201);
}
button a:hover{
    color: whitesmoke;
    background-color: rgb(0, 144, 201);
}
button{
    margin: 40px;
    padding: 17px;
    border-radius: 2px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    background-color:white;
    border: 1px solid rgb(48, 48, 233);
}
button a{
    text-decoration: none;
    color: rgb(0, 144, 201);
}
.button {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    padding: 20px;
    text-decoration: none;

}
.button a{
    margin: 23px;
    padding: 15px auto;
    border-radius: 20px;
    text-align: center;
    background-color:whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: rgb(114, 112, 112);
    text-decoration: none;
    border:1px solid whitesmoke;
    
}

.container{
    margin: 5px;
    padding: 2px;
    text-align: center;
}    

.title{
    
    font-size: 40px;
    font-family: 'Lucida Sans', 
}
.title2 h6{
    font-family: 'Lucida Sans';
   
    font-size:20px;
    color:gray;
}
.gridcontainer{
  margin: 25px;
  padding:54px;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap:15px;
     
}
.end{
    padding: 35px;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
}
.end a{
    padding: 35px;
    text-decoration: none;
    color: blue;
    font-size: larger;
    font-family: 'Lucida Sans', 
}
.logos{
    display: flex;
    padding: 25px;
   position: static;
   border: 5px solid whitesmoke;
   background-color: white;
   box-shadow: 0px 0px 25px rgb(0, 0,10%);
}
.logos img{
    margin:5px;
    padding:10px;
}
.review{
    margin: 60px;
    flex-direction: column;
}
.review h1{
    margin: 0px;
    padding:  auto;
    font-size: 60px;
}
.review a{
    font-size:25px;
    text-decoration: none;
    float: right;
    color: gray;
    justify-content: space-between;
}
.reviews{
    display: flex;
    width: 90%;
    margin: 59px;
    padding: 1px;
    position: static;
    border: 1px solid white;
    box-shadow: 0px 15px 30px rgb(197, 197, 197);
}
.text{
    text-align: center;
    margin: 85px;
   
}
.text a{
    font-size: large;
    padding: 80px;
    font-family: 'Lucida Sans';
    text-decoration:none;
    color: rgb(57, 57, 216);
}
.help{
    margin: 0px;
    padding: 40px;
    width: 100%;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid white;
    color: white;
    text-align: center;
    background-color:rgb(0, 144, 201)
}
.help div{
  padding: 40px;
}
footer{
    box-sizing: border-box;
    width: 100%;
    height: 700px;
    padding: 60px;
    border: 1px solid black;
    background-color: rgb(27, 26, 26);
}
.flex{
    display: flex;
    text-decoration: none;
    flex-direction: row;
    flex-wrap: nowrap;
    padding:0px;
    margin: 0px;

}
footer .site{
    margin: 0px;
    color: rgb(0, 144, 201);
    padding:0px;
}
 .subtitle{
    margin: 0px;
    display: flex;
    flex-direction: column;
    color: rgb(245, 245, 245);
}
.subtitle a{
    width: 400px;
    padding: 3px;
    font-size: medium;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.534);
}
.sub{
    padding: 5px;
    color: rgb(0, 144, 201);
}
.tmlogo img{
    margin:50px;
    float: left;
}
.flex2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.flex2 a{
    width: 370px;
    padding: 10px;
    color: rgb(114, 112, 112);
    float: right;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}
.flex3{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap
}
.flex3 a{
    margin:18px;
    color: rgb(114, 112, 112);
    text-decoration: none;
    font-size: large;
}
.subtitle a:hover{
    color: rgb(0, 144, 201);

}
.flex2 a:hover{
    color: whitesmoke;
}
.flex3 a:hover{
    color: rgb(0, 144, 201);
}
.flex3 p{
    color: rgb(114, 112, 112);
    font-size: large;
}